@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <i class="fas fa-fish"></i>
    <i class="fas fa-campground"></i>
    <i class="fas fa-hiking"></i>
    <p>Let's put some fancy stuff here!</p>
</div>
